@charset "utf-8";

@media (max-width:896px){
	#prof{
		width: 80vw;
		height: 20vh;
		margin: 0 auto;
		display: flex;
	}	
	#myimg{
		width: 35%;
		margin-right: 13%;
	}
	#myimg img{
		border-radius: 100%;
		width: 100%;
	}
	#photos{
		width: 100vw;
	}
	#photos ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#photos ul::before{
		content:"";
		display: block;
		width: calc(33.3% - 1px);
		order:1;
		}
	#photos ul::after{
		content:"";
		display: block;
		width: calc(33.3% - 1px);
	}
	#photos ul li{
		width: 33.3vw;
		padding: 1px;
		box-sizing: border-box;
	}
	#photos ul li img{
		width: 100%;
	}
}